@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2");
  font-display: swap;
}

.visually-hidden {
  display: none;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.page-header {
  width: 1160px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 18px;
  padding: 0 60px;
  /* background-color: blueviolet; */
}

.logo {
  width: 145px;
  margin-bottom: 30px;
}

.navigation-login {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.navigation-list {
  display: flex;
  font-family: "Rubik", sans-serif;
  background-color: aqua;
}

.nav-catalog-services {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  /* align-items: center; */
}

.navigation-services {
  display: flex;
  /* align-items: center; */
  /* align-content: center; */
  text-transform: uppercase;
}

.navigation-link {
  display: flex;
  align-items: center;
}

main {
  width: 1160px;
  display: flex;
  flex-direction: column;
}

.promo-item {
  display: flex;
}

.gallery {
  display: flex;
  align-items: center;
}

.arrow-right {
  transform: scaleX(-1);
}

.advantages-title {
  font-size: 50px;
  font-weight: 800;
}

.advantages-description {
  font-family: "Rubik", sans-serif;
}

.text-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
}

.feature-title {
  font-size: 36px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.feature-description {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.categories-name {
  font-weight: 800;
}

.unique-deliveri-service {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
}

.deliveryman {
  font-weight: 700;
  letter-spacing: -1px;
}

.store-name {
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

.contacts-phone {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  text-decoration: underline;
}

.work-time {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
}

.white-font {
  font-size: 16px;
}

.footer-services-link {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
}
