/*  Что по-хорошему нужно сделать
    1. Есть слишком длинные наименования классов
    2. Нужно больше переиспользования, универсальные стили, в частности кнопки с желтой полосой
    3. Есть неиспользуемые классы*/

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2");
  font-display: swap;
}

/* ОБНУЛЕНИЕ */

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* ОБЩИЕ СТИЛИ */

.visually-hidden {
  display: none;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1160px;
  position: relative;
}

/* HEADER */

.header {
  height: 220px;
  position: relative;
}

.header__background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
  background-color: #ffe17f;
  z-index: -1;
}

.header__content {
  padding: 0 60px;
  width: 1160px;
  display: flex;
  flex-direction: column;
}

.header__logo {
  width: 145px;
  margin-top: 17px;
  margin-bottom: 30px;
  /* transition: 0.15s ease-in-out; */
}

.header__nav-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__nav-items {
  display: flex;
  font-family: "Rubik", sans-serif;
  align-items: center;
}

.header__nav-link {
  position: relative;
  display: flex;
  align-items: center;
}

.header__nav-catalog {
  position: relative;
  display: flex;
  align-items: center;
}

.search-form {
  border: solid 2px;
  border-radius: 50px;
  width: 520px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form__focus {
  /* width: 100%; */
  /* height: 100%; */
}

.search-form__label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 16px;
}

.search-form__input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 100%; */
  height: 40px;
}

.search-form__text:focus {
  outline: solid 2px #af4fff;
  /* border: solid 2px #af4fff; */
  /* width: 200px;
  height: 110%; */
}

.search-form__text {
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: black;
  background-color: transparent;
}

.search-form__text::placeholder {
  font-size: 16px;
  color: black;
  opacity: 0.3;
}

/* .search-form__text:focus {
  outline: solid 2px #af4fff;
} */

.search-form__text:disabled {
  opacity: 0.3;
}

.search-form__button {
  width: 160px;
  height: 100%;
  border: none;
  border-left: solid 2px;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.header__login-icon {
  margin-left: 27px;
}

.header__login {
  margin-left: 12px;
}

.header__compare-icon {
  margin-right: 9px;
}

.header__compare {
  margin-right: 36px;
}
.header__cart-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  left: -15px;
  background-color: white;
}
.header__cart-quantity {
  font-size: 14px;
}

.header__cart-icon {
  margin-right: 12px;
}

.header__services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header__catalog {
  display: flex;
  width: 471px;
  justify-content: space-between;
}

.header__catalog-icon {
  margin-left: 22px;
}

.header__nav-services {
  display: flex;
  justify-content: space-between;
  width: 470px;
}

.header__text-right {
  margin-right: -3px;
}

/* HEADER Псевдоклассы */

.logo:hover,
.header__nav-link:hover,
.slider-button:hover {
  opacity: 0.6;
}

.logo:active,
.header__nav-link:active,
.slider-button:active {
  opacity: 0.3;
}

.logo:focus,
.header__nav-link:focus,
.slider-button:focus {
  outline: solid 2px #af4fff;
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Промо товар */

.promo__background {
  padding-right: 50px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 120px;
  line-height: 135px;
  text-align: right;
  background-color: #1b2f9c;
  background-color: #ffe17f;
  z-index: -2;
}

.promo__number {
  font-size: 180px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  text-align: start;
  color: white;
}

.promo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.promo__gallery {
  width: 560px;
  position: relative;
}

.promo__image {
  margin-top: -30px;
  width: 100%;
}

.promo__arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 542px;
  top: 180px;
  left: 23px;
}

.slider-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.slider-button--right {
  transform: scaleX(-1);
}

.promo-advantages {
  width: 560px;
}

.promo__advantages {
  width: 560px;
  display: flex;
  flex-direction: column;
}

.promo__title {
  font-size: 50px;
  font-weight: 800;
  margin-top: 90px;
  margin-bottom: 29px;
  line-height: 1;
}

.promo__description {
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 51px;
}

.promo__navigation {
  display: flex;
  height: 40px;
  margin-bottom: 44px;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 5px;
}

.yellow-line {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  width: 220px;
  height: 40px;
  letter-spacing: 3px;
  cursor: pointer;
}

.yellow-line__decoration {
  position: absolute;
  height: 8px;
  background-color: #ffe17f;
  width: 100%;
  z-index: -1;
  transition: 0.2s ease-in-out;
}

.yellow-line:focus {
  outline: solid 2px #af4fff;
}

.yellow-line:hover .yellow-line__decoration {
  height: 100%;
  transition: 0.2s ease-in-out;
}

.yellow-line:active .yellow-line__decoration {
  height: 100%;
  background-color: #ffcc33;
}

.promo__pagination {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 76px;
}

.promo__pagination-item {
  display: flex;
  align-items: center;
}

.promo__pagination-button {
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.promo__pagination-button--current {
  background-color: black;
}

.promo__pagination-item:hover {
  opacity: 0.6;
}

.promo__pagination-item:active {
  opacity: 0.3;
}

.promo__pagination-item:focus {
  outline: solid 2px #af4fff;
}

.promo__features {
  display: flex;
}

.promo__feature {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.promo__feature-title {
  font-size: 36px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin-bottom: 12px;
}

.promo__feature-description {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #444444;
}

.promo-navigation {
  display: flex;
  justify-content: space-between;
}

.slider-pagination {
  display: flex;
}

/* Категории товаров */

.categories__list {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin-bottom: 85px;
}

.categories__item {
  cursor: pointer;
  user-select: none;
}

.categories__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  margin-bottom: 33px;
}

.categories__item:active {
  opacity: 0.3;
}

.categories__item:hover .categories__img {
  background-color: #ffc700;
}

.categories__item:focus {
  outline: solid 2px #af4fff;
}

/* .categories__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 160px;
} */

.categories__name {
  font-weight: 800;
  font-size: 18px;
  letter-spacing: calc(18px * -0.02);
}

.categories__monopode {
  align-self: end;
}

/* Сопутствующие услуги */

.services {
  display: flex;
  justify-content: center;
  margin-bottom: 143px;
  width: 100%;
  position: relative;
}

.services__background {
  background-color: #f0f0f0;
  width: 100%;
  height: 289px;
  position: absolute;
  top: 102px;
  z-index: -10;
}

.services__section {
  display: flex;
}

.services__pagination {
  display: flex;
  flex-direction: column;
  width: 287px;
  height: 319px;
  margin: 0;
  padding: 65px 0;
  justify-content: space-between;
  box-sizing: border-box;
  border-right: 7px solid black;
}

.services__container--current {
  background-color: black;
}

.services__container--current .yellow-line__decoration {
  display: none;
}

.services__container--current:hover span {
  opacity: 0.5;
}

.services__container--current:active span {
  opacity: 0.3;
}

.services__container--current:focus {
  outline: solid 2px #af4fff;
}

.services__container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: start;
}

.services__container:focus {
  outline: solid 2px #af4fff;
}

.services__item {
  width: 160px;
  display: flex;
  justify-content: center;
}

.services__button {
  border: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: calc(18px * 0.2);
}

.services__button--current {
  color: #ffe17f;
}

.services__content {
  display: flex;
  width: 694px;
  margin-left: 116px;
  margin-right: 63px;
  justify-content: space-between;
  align-items: center;
}

.services__title {
  margin-top: -30px;
  width: 450px;
}

.services__advantages-title {
  font-size: 50px;
  margin-bottom: 34px;
}

.services__advantages-description {
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  color: #444444;
}

/* Уникальная доп услуга */

.unique {
  display: flex;
  align-items: center;
  width: 1160px;
  height: 100px;
  justify-content: space-between;
  background-color: #f0f0f0;
  margin-bottom: 70px;
  cursor: pointer;
  user-select: none;
}

.unique__pic {
  display: flex;
  width: 125px;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffe17f;
}

.unique__icon {
  display: flex;
  width: 125px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.unique__icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #dcdcdc;
  border-radius: 50%;
}

.unique__i {
  opacity: 0.3;
}

.unique__service {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 4px;
}

.unique:hover .unique__pic {
  background-color: #ffc700;
}

.unique:hover .unique__i {
  opacity: 1;
}

.unique:active {
  opacity: 0.3;
}

.unique:focus {
  outline: solid 2px #af4fff;
}

/* О нас, контакты */

.about {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin-bottom: 87px;
}

.about__info {
  width: 530px;
}

.about__line {
  width: 84px;
  height: 7px;
  background-color: black;
  margin-bottom: 35px;
}

.about__title {
  margin-top: 0;
  margin-bottom: 44px;
  font-size: 50px;
  font-weight: 800;
}

.about__description {
  margin-bottom: 30px;
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  color: #444444;
}

.about__description--nomargin {
  margin-bottom: 0;
}

.about__delivery {
  list-style: circle;
  margin-bottom: 30px;
}

.about__delivery-item {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}

.about__dot {
  background-color: #ffe17f;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 26px;
}

.about__delivery-name {
  font-weight: 700;
  letter-spacing: -1px;
  font-family: "Rubik", sans-serif;
}

.about__subtitle {
  display: block;
  margin-bottom: 15px;
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

.about__subtitle--margin-top {
  margin-top: 30px;
}

.about__yellow-more {
  width: 270px;
}

.about__yellow-send {
  width: 260px;
}

/* Подпишись */

.subscribe {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #f0f0f0;
}

.subscribe__container {
  display: flex;
  flex-direction: column;
  width: 1160px;
}

.subscribe__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 144px;
}

.subscribe__title {
  /* box-sizing: border-box; */
  width: 348px;
  /* padding-left: 7px; */
  line-height: 50px;
  /* margin-bottom: 0; */
  font-weight: 800;
  font-size: 50px;
}

.subscribe__description {
  /* box-sizing: border-box; */
  width: 560px;
  font-family: "Rubik", sans-serif;
  /* padding-left: 30px; */
  /* padding-right: 25px; */
  /* margin-bottom: 0; */
}

.subscribe__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

.subscribe__email {
  height: 57px;
  display: flex;
  align-items: end;
}

.subscribe__field {
  box-sizing: border-box;
  padding-left: 17px;
  width: 557px;
  height: 100%;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  border: none;
  border-bottom: solid 3px #c4c4c4;
  background-color: transparent;
}

.subscribe__field:focus {
  background-color: #dcdcdc;
  outline: solid 2px #af4fff;
}

.subscribe__field:invalid {
  border-bottom: solid 3px #ff3d3d;
}

.subscribe__field:disabled {
  opacity: 0.3;
}

.subscribe__button {
  width: 253px;
  height: 100%;
  border: solid 3px #c4c4c4;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: calc(18px * 0.2);
  cursor: pointer;
}

.subscribe__button:hover {
  border: solid 3px #000000;
}

.subscribe__button:active {
  border: solid 3px #000000;
  opacity: 0.3;
}

.subscribe__button:focus {
  outline: solid 2px #af4fff;
}

.subscribe__button:disabled {
  opacity: 0.3;
}

.subscribe__mark {
  margin-right: 17px;
}

.subscribe__description {
  font-family: "Rubik", sans-serif;
}

/* Подвал */

.footer {
  background-color: #444444;
  padding: 61px 0;
  display: flex;
  justify-content: center;
}

.footer__container {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  width: 1160px;
}

.footer__logo {
  width: 145px;
  /* margin-top: 1px; */
  margin-bottom: 17px;
  cursor: pointer;
}

.footer__info-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.footer__adress {
  width: 236px;
  font-size: 16px;
  line-height: 20px;
  color: white;
  font-family: "Rubik", sans-serif;
}

.footer__info-item {
  color: white;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
}

.footer__services-list {
  display: flex;
  width: 444px;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: calc(18px * 0.2);
}

.footer__services-link {
  color: white;
}

.footer__services-link:hover,
.footer__tel-container:hover {
  color: #ffc700;
  border-bottom: solid 2px #ffc700;
}

.footer__tel-container:hover .footer__tel,
.footer__tel-container:hover .footer__phone {
  color: #ffc700;
}

.footer__services-link:active,
.footer__tel-container:active {
  color: #ffc700;
  opacity: 0.3;
}
.footer__services-link:focus,
.footer__tel-container:focus {
  outline: solid 2px #af4fff;
}

.footer__info-tel {
  cursor: pointer;
}

.footer__item-tel {
  width: 236px;
  text-align: right;
}

.footer__tel {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  color: white;
}

.footer__phone {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  color: white;
}

.footer__links-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__links-item {
  display: flex;
  align-items: center;
}

.footer__line {
  background-color: #ffc500;
  height: 7px;
  width: 80px;
  margin: 0;
  margin-right: 35px;
}

.footer__socials-list {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.footer__socials-item {
  width: 40px;
  height: 40px;
}

.footer__socials-container {
  background-color: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer__socials-container:hover {
  background-color: #ffc700;
}

.footer__socials-container:active img {
  opacity: 0.3;
}

.footer__socials-item:focus {
  outline: solid 2px #af4fff;
}
