@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2");
  font-display: swap;
}

/* ОБНУЛЕНИЕ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* ОБЩИЕ СТИЛИ */

.visually-hidden {
  display: none;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1160px;
  position: relative;
}

/* HEADER */

.header {
  height: 220px;
  position: relative;
}

.header__background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
  background-color: #ffe17f;
  z-index: -1;
}

.header__content {
  padding: 0 60px;
  width: 1160px;
  display: flex;
  flex-direction: column;
}

.header__logo {
  width: 145px;
  margin-top: 17px;
  margin-bottom: 30px;
}

.header__nav-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__nav-items {
  display: flex;
  font-family: "Rubik", sans-serif;
  align-items: center;
}

.header__nav-link {
  position: relative;
  display: flex;
  align-items: center;
}

.search-form {
  border: solid 2px;
  border-radius: 50px;
  width: 520px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form__label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 16px;
}

.search-form__input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__text {
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: black;
  background-color: transparent;
}

.search-form__text::placeholder {
  font-size: 16px;
  color: black;
  opacity: 0.3;
}

.search-form__text:focus {
  outline: none;
}

.search-form__button {
  padding: 0 56px;
  height: 100%;
  border: none;
  border-left: solid 2px;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.header__login-icon {
  margin-left: 27px;
}

.header__login-button {
  margin-left: 12px;
}

.header__compare-icon {
  margin-right: 9px;
}

.header__compare-button {
  margin-right: 36px;
}
.header__cart-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  left: -15px;
  background-color: white;
}
.header__cart-quantity {
  font-size: 14px;
}

.header__cart-icon {
  margin-right: 12px;
}

.header__services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header__catalog {
  display: flex;
  width: 471px;
  justify-content: space-between;
}

.header__catalog-icon {
  margin-left: 22px;
}

.header__nav-services {
  display: flex;
  justify-content: space-between;
  width: 470px;
}

.header__text-right {
  margin-right: -3px;
}

.main {
  background-color: #f0f0f0;
  z-index: -5;
}

.main__header {
  width: 1079px;
  margin-top: 37px;
  margin-left: 42px;
  margin-bottom: 35px;
}

.main__title {
  margin-bottom: 10px;
  font-size: 50px;
}

.main__breadcrumbs {
  display: flex;
  font-family: "Rubik", sans-serif;
}

.main__breadcrumb {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.main__bread-arrow {
  margin-left: 16px;
  margin-right: 16px;
}

.main__catalog {
  display: flex;
  /* width: 200px; */
  margin-top: 25px;
  margin-left: 60px;
  /* background-color: #ffe17f; */
  /* width: 100%; */
}

.filter {
  width: 200px;
  margin-right: 60px;
}

.filter__title {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  /* margin-top: 25px; */
  margin-bottom: 60px;
  letter-spacing: calc(18px * 0.2);
}

fieldset {
  border: none;
}

.filter__group {
  border-top: solid 2px black;
  /* padding: 10px; */
  margin-bottom: 10px;
}

.filter__parameter {
  padding-top: 10px;
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.5px;
}

.filter__range-scale {
  position: relative;
  height: 2px;
  margin-top: 6px;
  margin-bottom: 58px;
  background-color: #dcdcdc;
}

.filter__range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.filter__range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.filter__toggle-min {
  top: -8px;
  left: -8px;
}

.filter__toggle-max {
  top: -8px;
  right: -8px;
}

.filter__range-inputs {
  display: flex;
  justify-content: center;
}

.filter__label {
  top: 23px;
  left: -50%;
  display: flex;
  justify-content: start;
  /* margin-right: 5px; */
  position: absolute;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  opacity: 0.3;
}

.filter__range-input {
  width: 50px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  /* appearance: textfield; */
}

.filter__range-input::-webkit-outer-spin-button,
.filter__range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter__list {
  margin-bottom: 26px;
}

.filter__item {
  margin-bottom: 16px;
}

.filter__control {
  display: flex;
  align-items: center;
}

.filter__control-label {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

.filter__control-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border: solid 2px #000000;
  border-radius: 3px;
}

.filter__control-mark::before {
  content: "";
  display: none;
  width: 10px;
  height: 10px;
  background-image: url(../img/tick.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.filter__control-input:checked + .filter__control-mark::before {
  display: inline-block;
}

.filter__mark-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border: solid 2px #000000;
  border-radius: 50%;
}

.filter__mark-circle::before {
  content: "";
  display: none;
  width: 10px;
  height: 10px;
  background-color: #000000;
  border-radius: 50%;
}

.filter__control-input:checked + .filter__mark-circle::before {
  display: inline-block;
}

.yellow-line {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 220px;
}

.yellow-line__button {
  border: none;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  z-index: 10;
}

.yellow-line__decoration {
  position: absolute;
  height: 8px;
  background-color: #ffe17f;
  width: 100%;
}

.catalog {
  display: flex;
  flex-direction: column;
  width: 840px;
  align-items: center;
}

.catalog__container {
  width: 100%;
}

.catalog__sorting {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
  margin-bottom: 22px;
}

.catalog__sorting-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.catalog__select-control {
  border: none;
  padding-right: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
}

.catalog__sorting-arrows {
  width: 40px;
  display: flex;
  justify-content: space-between;
}

.catalog__sorting-arrow {
  color: aqua;
  fill: aqua;
}

.catalog__sorting-arrow--down {
  transform: rotate(180deg);
}

.catalog__products {
  background-color: #ffffff;
  width: 840px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.catalog__products-grid {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
  background-color: white;
  margin: 70px 0px 44px;
}

.catalog__card {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 26px;
}

.catalog__card-title {
  width: 50%;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.catalog__price-value {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.more-button {
  border: solid 3px #e5e5e5;
  width: 100%;
  height: 55px;
  margin-bottom: 44px;
}

.catalog__pagination {
  display: flex;
  width: 760px;
  height: 71px;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: calc(18px * 0.2);
  background-color: #ebebeb;
  padding: 25px;
  margin-bottom: 78px;
}

.catalog__pagination-numbers {
  display: flex;
  width: 200px;
  justify-content: space-around;
  font-family: "Rubik", sans-serif;
  color: #444444;
  opacity: 0.3;
}

/* Подвал */

.footer {
  background-color: #444444;
  padding: 61px 0;
  display: flex;
  justify-content: center;
}

.footer__container {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  width: 1160px;
}

.footer__logo {
  width: 145px;
  /* margin-top: 1px; */
  margin-bottom: 17px;
}

.footer__info-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.footer__adress {
  width: 236px;
  font-size: 16px;
  line-height: 20px;
  color: white;
  font-family: "Rubik", sans-serif;
}

.footer__info-item {
  color: white;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
}

.footer__services-list {
  display: flex;
  width: 444px;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: calc(18px * 0.2);
}

.footer__services-link {
  color: white;
}

.footer__item-tel {
  width: 236px;
  text-align: right;
}

.footer__tel {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  color: white;
}

.footer__phone {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  color: white;
}

.footer__links-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__links-item {
  display: flex;
  align-items: center;
}

.footer__line {
  background-color: #ffc500;
  height: 7px;
  width: 80px;
  margin: 0;
  margin-right: 35px;
}

.footer__socials-list {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.footer__socials-item {
  background-color: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
