@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  src: url('../fonts/rubik/rubik-400.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  src: url('../fonts/rubik/rubik-700.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  src: url('../fonts/raleway/raleway-800.woff2');
  font-display: swap;
}

/* ОБНУЛЕНИЕ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:active {
  outline: none;
}

img {
  max-width: 100%;
  object-fit: contain;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* ОБЩИЕ СТИЛИ */

.visually-hidden {
  display: none;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1160px;
  position: relative;
}

/* HEADER */

.header {
  height: 220px;
  position: relative;
}

.header__background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
  background-color: #ffe17f;
  z-index: -1;
}

.header__content {
  padding: 0 60px;
  width: 1160px;
  display: flex;
  flex-direction: column;
}

.header__logo {
  width: 145px;
  margin-top: 17px;
  margin-bottom: 30px;
}

.header__nav-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__nav-items {
  display: flex;
  font-family: 'Rubik', sans-serif;
  align-items: center;
}

.header__nav-link {
  position: relative;
  display: flex;
  align-items: center;
}

.header__nav-catalog {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__nav-catalog:hover .header__catalog-icon {
  opacity: 1;
}

.header__nav-catalog:focus {
  outline: solid 2px #af4fff;
}

.search-form {
  display: flex;
}

.search-form__label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 16px;
}

.search-form__input {
  display: flex;
  align-items: center;
  width: 360px;
  height: 40px;
  border: solid 2px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.search-form__focus:focus {
  outline: solid 2px #af4fff;
}

.search-form__text {
  border: none;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: black;
  background-color: transparent;
  width: 100%;
}

.search-form__text::placeholder {
  font-size: 16px;
  color: black;
  opacity: 0.3;
}

.search-form__text:active {
  outline: none;
}

.search-form__text:disabled {
  opacity: 0.3;
}

.search-form__button {
  width: 160px;
  height: 40px;
  border: none;
  border-left: solid 2px;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  cursor: pointer;
  border: solid 2px;
  border-left: 0px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.search-form__button:hover {
  color: #ffffff;
  border-color: #000000;
  background-color: #000000;
}

.search-form__button:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: #000000;
  background-color: #000000;
}

.header__login-icon {
  margin-left: 27px;
}

.header__login {
  margin-left: 12px;
}

.header__compare-icon {
  margin-right: 9px;
}

.header__compare {
  margin-right: 36px;
}
.header__cart-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  left: -15px;
  background-color: white;
}
.header__cart-quantity {
  font-size: 14px;
}

.header__cart-icon {
  margin-right: 12px;
}

.header__nav-cart {
  position: relative;
}

.cart-popover {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: -140px;
  z-index: 10;
  display: none;
}

.cart-popover__triangle {
  width: 14px;
}

.cart-popover__items {
  display: flex;
  flex-direction: column;
  width: 320px;
  color: #ffffff;
  background-color: #1a1a1a;
}

.cart-popover__frame {
  padding: 20px;
}

.cart-popover__item {
  display: flex;
  height: 43px;
  cursor: pointer;
  background-color: #000000;
  margin-bottom: 1px;
}

.cart-popover__img {
  max-height: 100%;
  margin-right: 23px;
}

.cart-popover__item:hover .cart-popover__img,
.cart-popover__item:hover .cart-popover__item-name {
  opacity: 0.6;
}

.cart-popover__item:active .cart-popover__img,
.cart-popover__item:active .cart-popover__item-name {
  opacity: 0.3;
}

.cart-popover__close-btn {
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 23px;
}

.cart-popover__total {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.cart-popover__open-cart {
  background-color: #000000;
  padding: 20px;
}

.cart-popover__open-button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: calc(18px * 0.2);
  cursor: pointer;
}

.cart-popover__open-button:hover {
  background-color: #ffe17f;
}

.cart-popover__open-button:active {
  background-color: #ffe17f;
  color: rgba(0, 0, 0, 0.3);
}

.cart-popover__open-button:focus {
  outline: solid 2px #af4fff;
}

.header__services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header__catalog {
  display: flex;
  width: 471px;
  justify-content: space-between;
}

.header__catalog-icon {
  opacity: 0.3;
  margin-left: 22px;
}

.header__catalog-icon-closed {
  display: block;
}

.header__catalog-icon-opened {
  display: none;
}

.header__nav-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 470px;
}

.header__text-right {
  margin-right: -3px;
}

.header__catalog-popover {
  display: grid;
  width: 1160px;
  padding: 0 60px;
  margin-top: -18px;
  border: solid 1px #444444;
  grid-template-columns: 222px 222px 222px;
  gap: 30px;
  background-color: #ffe17f;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 99999999;
  font-family: 'Rubik', sans-serif;
  display: none;
}

/* HEADER Псевдоклассы */

.logo:hover,
.header__nav-link:hover,
.slider-button:hover,
.cart-popover__close-btn:hover {
  opacity: 0.6;
}

.logo:active,
.header__nav-link:active,
.slider-button:active,
.cart-popover__close-btn:active {
  opacity: 0.3;
}

.logo:focus,
.header__nav-link:focus,
.slider-button:focus,
.cart-popover__item:focus,
.cart-popover__close-btn:focus {
  outline: solid 2px #af4fff;
}

/* MAIN */

.main {
  background-color: #f0f0f0;
  z-index: -5;
}

.main__header {
  width: 1079px;
  margin-top: 37px;
  margin-left: 42px;
  margin-bottom: 35px;
}

.main__title {
  margin-bottom: 10px;
  font-size: 50px;
}

.main__breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Rubik', sans-serif;
}

.main__breadcrumb {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.main__breadcrumb:hover {
  opacity: 0.6;
}

.main__breadcrumb:active {
  opacity: 0.3;
}

.main__breadcrumb a:focus {
  outline: solid 2px #af4fff;
}

.main__bread-arrow {
  margin-left: 16px;
  margin-right: 16px;
}

.main__catalog {
  display: flex;
  margin-top: 25px;
  margin-left: 60px;
}

.filter {
  width: 200px;
  margin-right: 60px;
}

.filter__title {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 60px;
  letter-spacing: calc(18px * 0.2);
}

fieldset {
  border: none;
}

.filter__group {
  border-top: solid 2px black;
  margin-bottom: 10px;
}

.filter__parameter {
  padding-top: 10px;
  margin-bottom: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.5px;
}

.filter__range-scale {
  position: relative;
  height: 2px;
  margin-top: 6px;
  margin-bottom: 58px;
  background-color: #dcdcdc;
}

.filter__range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.filter__range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.filter__range-toggle:focus {
  outline: solid 2px #af4fff;
}

.filter__toggle-min {
  top: -8px;
  left: -8px;
}

.filter__toggle-max {
  top: -8px;
  right: -8px;
}

.filter__range-inputs {
  display: flex;
  justify-content: center;
}

.filter__label {
  top: 23px;
  left: -50%;
  display: flex;
  justify-content: start;
  position: absolute;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  opacity: 0.3;
}

.filter__range-input {
  width: 50px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.filter__range-input::-webkit-outer-spin-button,
.filter__range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter__range-input:focus {
  outline: solid 2px #af4fff;
}

.filter__list {
  margin-bottom: 26px;
}

.filter__item {
  margin-bottom: 16px;
}

.filter__item:hover,
.catalog__select-control:hover {
  opacity: 0.6;
}

.filter__item:active,
.catalog__select-control:active {
  opacity: 0.3;
}

.filter__item:disabled,
.filter__control-input:disabled,
.catalog__select-control:disabled {
  opacity: 0.1;
}

.filter__item:focus,
.catalog__select-control:focus {
  outline: solid 2px #af4fff;
}

.filter__control {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter__control-label {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

.filter__control-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border: solid 2px #000000;
  border-radius: 3px;
}

.filter__control-mark::before {
  content: '';
  display: none;
  width: 10px;
  height: 10px;
  background-image: url(../img/tick.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.filter__control:focus {
  outline: none;
}

.filter__control:focus .filter__control-mark {
  outline: solid 2px #af4fff;
}

.filter__control-input:checked + .filter__control-mark::before {
  display: inline-block;
}

.filter__mark-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border: solid 2px #000000;
  border-radius: 50%;
}
.filter__control:focus .filter__mark-circle::after {
  outline: solid 2px #af4fff;
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
}

.filter__mark-circle::before {
  content: '';
  display: none;
  width: 10px;
  height: 10px;
  background-color: #000000;
  border-radius: 50%;
}

.filter__control-input:checked + .filter__mark-circle::before {
  display: inline-block;
}

.yellow-line {
  display: flex;
  width: 220px;
  height: 40px;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 220px;
}

.yellow-line__button {
  border: none;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  z-index: 10;
  cursor: pointer;
}

.yellow-line__decoration {
  position: absolute;
  height: 8px;
  background-color: #ffe17f;
  width: 100%;
}

.yellow-line__decoration {
  transition: 0.2s ease-in-out;
}

.yellow-line:focus {
  outline: solid 2px #af4fff;
}

.yellow-line:hover .yellow-line__decoration {
  height: 100%;
  transition: 0.2s ease-in-out;
}

.yellow-line:active .yellow-line__decoration {
  height: 100%;
  background-color: #ffcc33;
}

.catalog {
  display: flex;
  flex-direction: column;
  width: 840px;
  align-items: center;
}

.catalog__container {
  width: 100%;
}

.catalog__sorting {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
  margin-bottom: 22px;
}

.catalog__sorting-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.catalog__select-control {
  border: none;
  padding-right: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.catalog__sorting-arrows {
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__sorting-arrow {
  width: 11px;
  opacity: 0.2;
}

.catalog__sorting-arrow:hover {
  opacity: 0.5;
}

.catalog__sorting-arrow:active {
  opacity: 1;
}

.catalog__arrow {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
}

.catalog__arrow:focus {
  outline: solid 2px #af4fff;
}

.catalog__sorting-arrow--down {
  transform: rotate(180deg);
}

.catalog__products {
  background-color: #ffffff;
  width: 840px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.catalog__products-grid {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
  background-color: white;
  margin: 70px 0px 44px;
}

.catalog__item-img {
  position: relative;
}

.catalog__item-container:focus {
  outline: solid 2px #af4fff;
}

.catalog__item:hover .catalog__overlay {
  display: flex;
}

.catalog__item:hover .catalog__card {
  opacity: 0.6;
}

.catalog__item:active .catalog__card {
  opacity: 0.3;
}

.catalog__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.catalog__card {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 26px;
}

.catalog__card-title {
  width: 50%;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.catalog__price-value {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.more-button {
  border: solid 3px #e5e5e5;
  width: 100%;
  height: 55px;
  margin-bottom: 44px;
}

.more-button:hover {
  border: solid 3px #000000;
}

.more-button:active {
  border: solid 3px #000000;
  opacity: 0.3;
}

.more-button:focus {
  outline: solid 2px #af4fff;
}

.more-button:disabled {
  opacity: 0.3;
}

.pagination__link {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 25px;
}

.pagination__link:hover {
  background-color: #dcdcdc;
}
.pagination__link:active {
  opacity: 0.3;
}
.pagination__link:focus {
  outline: solid 2px #af4fff;
}
.pagination {
  display: flex;
  width: 760px;
  height: 71px;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: calc(18px * 0.2);
  background-color: #ebebeb;
  margin-bottom: 78px;
}

.pagination__numbers {
  display: flex;
  width: 200px;
  justify-content: space-around;
  font-family: 'Rubik', sans-serif;
  color: #444444;
}

.pagination__page {
  color: #444444;
  opacity: 0.3;
}

.pagination__link--current {
  opacity: 1;
}

.pagination__page:hover {
  opacity: 1;
}

.pagination__page:active {
  opacity: 0.1;
}

.pagination__item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__item:focus {
  outline: solid 2px #af4fff;
}

/* Подвал */

.footer {
  background-color: #444444;
  padding: 61px 0;
  display: flex;
  justify-content: center;
}

.footer__container {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  width: 1160px;
}

.footer__logo {
  width: 145px;
  margin-bottom: 17px;
  cursor: pointer;
}

.footer__info-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.footer__adress {
  width: 236px;
  font-size: 16px;
  line-height: 20px;
  color: white;
  font-family: 'Rubik', sans-serif;
}

.footer__info-item {
  color: white;
  font-family: 'Rubik', sans-serif;
  display: flex;
  align-items: center;
}

.footer__services-list {
  display: flex;
  width: 444px;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: calc(18px * 0.2);
}

.footer__services-link {
  color: white;
}

.footer__services-link:hover,
.footer__tel-container:hover {
  color: #ffc700;
  border-bottom: solid 2px #ffc700;
}

.footer__tel-container:hover .footer__tel,
.footer__tel-container:hover .footer__phone {
  color: #ffc700;
}

.footer__services-link:active,
.footer__tel-container:active {
  color: #ffc700;
  opacity: 0.3;
}
.footer__services-link:focus,
.footer__tel-container:focus {
  outline: solid 2px #af4fff;
}

.footer__info-tel {
  cursor: pointer;
}

.footer__item-tel {
  width: 236px;
  text-align: right;
}

.footer__tel {
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  color: white;
}

.footer__phone {
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  color: white;
}

.footer__links-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__links-item {
  display: flex;
  align-items: center;
}

.footer__line {
  background-color: #ffc500;
  height: 7px;
  width: 80px;
  margin: 0;
  margin-right: 35px;
}

.footer__socials-list {
  display: flex;
}

.footer__socials-container {
  background-color: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer__socials-container:hover {
  background-color: #ffc700;
}

.footer__socials-container:active img {
  opacity: 0.3;
}

.footer__socials-li {
  margin-right: 15px;
}

.footer__socials-li:last-child {
  margin-right: 0;
}

.footer__socials-item:focus {
  outline: solid 2px #af4fff;
  border: solid 2px #af4fff;
}

.footer__ha-logo:focus {
  outline: solid 2px #af4fff;
}
